
/*Css for Outer div contains complete view */
#wrapper {
    margin: 30px;
}
/*Link to display form*/
#clickAdd {
    float: left;
    font-size: 20px;
}
/*CSS for search box*/
#searchDiv {
    float: right;
}
#search {
    border-width: 2px;
    float: right;
    size: 40px;
}
/*Form to add a new row in table*/
.form-horizontal {
    margin-top: 20px;
}
#error-msg{
    color: #f00;
    margin-left: 200px;
}
.add-data{
    margin-left: 500px; 
}
#submit{
    margin-left:250px;
}
/*ng-cloak to avoid the undesirable flicker effect caused by the html template display.*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], 
.ng-cloak, .x-ng-cloak {
    display: none !important;
}