<!DOCTYPE html>
<html>
    <head>
        <title>IT Industry Table</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/angular.css">
    </head>
    <body ng-app="helloApp" ng-controller="CompanyCtrl">
        <!--            Wrapper Contains whole page-->
        <div id="wrapper">
            <img src="images/iti.jpg" alt="iti image" width="1440" height="100">
            <div id="table">
                <a href="#" id="clickAdd">Click here to add new Company</a>
                <!--            Search box filter-->
                <div id="searchDiv">
                    <form class="form-inline">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1"></span>
                            <input type="text" id="search" class="form-control"   
                                   placeholder="Search" aria-describedby="sizing-addon1" ng-model="filter">
                        </div>
                    </form>
                </div>
                <!-- Table using bootstrap classes-->
                <table class="table table-striped table-bordered table-hover" id="main" ng-cloak class="ng-cloak">
                    <thead>
                        <!--Uncomment below <tr> if want to filter individually by particular field-->
                        <!-- <tr>
                               <th><input type="text" ng-model="filter.company" placeholder="Filter by company name"></th>
                               <th><input type="text" ng-model="filter.ceo" placeholder="Filter by company CEO"></th>
                               <th><input type="text" ng-model="filter.headQuarters" placeholder="Filter by company Head Quarters"></th>
                               <th><input type="text" ng-model="filter.noe" placeholder="Filter by No. of Employees"></th>
                               </tr>-->
                        <!--On click sorting Implementation-->
                        <tr>
                            <th ng-click="sort = 'company';
                                        rsort = !rsort">Company</th>
                            <th ng-click="sort = 'ceo';
                                        rsort = !rsort">CEO</th>
                            <th ng-click="sort = 'headquarters';
                                        rsort = !rsort">Headquarters</th>
                            <th ng-click="sort = 'noe';
                                        rsort = !rsort">No of Employees</th>
                        </tr>
                    </thead><tbody>
                        <!-- Fetching data from array-->
                        <tr ng-repeat="field in data| filter:filter | orderBy:sort:rsort">
                            <td ng-bind="field.company"></td>
                            <td ng-bind="field.ceo"></td>
                            <td ng-bind="field.headquarters"></td>
                            <td ng-bind="field.noe"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--                bootstrap class for display form for add a new row in table dynamically-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-offset-2">
                        <form class="form-horizontal" role="form" ng-submit="addRow()">
                            <p id="error-msg"></p>
                            <div class="form-group">

                                <label class="col-md-2 control-label">Company</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="company" name="company"
                                           ng-model="company"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">CEO</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="ceo" name="ceo"
                                           ng-model="ceo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Headquarters</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="headquarters" name="headquarters"
                                           ng-model="headquarters" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">No of Employees</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="noe" name="noe"
                                           ng-model="noe" />
                                </div>
                            </div>
                            <div class="form-group">								
                                <div style="padding-left:110px">
                                    <input type="submit" value="Submit" class="btn btn-primary" id="submit"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>  
        <script src="controller/companyController.js"></script>
        <script src="js/JQuery.js"></script>
        <script src="js/angularTable.js"></script>
    </body>
</html>

